body {
    background-color: #f4f6f8; /*softer whiteish blue background*/
    font-family: Arial, Helvetica, sans-serif;
    color: #333333; /* dark grey to read the text */
    margin: 0;
    padding: 0;
}
#header-area {
    background-color: #002255; /*NAVY FOR THE COUGS*/
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 20px;
}

#header-area a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
}
#main-content {
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

#data-section {
    background-color: #e2e8f0;
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
}

h1 {
    font-family:'Georgia', serif;
}

h2 {
    color: #002255;
    font-family: 'Georgia', 'Times New Roman', Times, serif
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 15px;
}

iframe {
    max-width: 100%;
}